* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: black;
    font-weight: bold;
}

.titleContact {
    text-align: center;
    border: 1px solid black;
    width: 100%;
    display: inline-block;
    border-bottom: 5px solid rgb(23, 182, 245);
}

h2 {
    border-bottom: 3px solid rgb(23, 182, 245);
}

.mainContact {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 70%;
    gap: 20px;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.formulaire {
    width: 50%;
}

.coordonnées {
    width: 50%;
}
.message {
    width: 100%;
}

.btnSubmit button {
    background-color: rgb(0, 158, 197);
    border-radius: 5px;
    border: none;
    width: 20%;
    color: white;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width:600px) {
    .formulaire {
        width: 100%;
    }

    .coordonnées {
        width: 100%;
    }
}

