.Hero {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    opacity: 0.8;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}

h1, h2 {
    color: white;
    justify-content: center;
}


