* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Hero {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    opacity: 0.8;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 20px;
    margin-bottom: 30px;

}
 h1, h2 {
    color: white;
 }

.btnInfo {
    background-color: rgb(201, 30, 30);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.titleAbout {
    border-bottom: 3px solid blue;
}

.JohnDoe {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 60%;
    gap: 20px;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.about p {
    font-size: smaller;
    text-align: justify;
}
.about {
    bordr: 1px solid red;
    width: 50%;
}

.competences {
    brder: 1px solid green;
    width: 50%;
}

