* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Hero {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    opacity: 0.8;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    gap: 20px;

}
 h1, h2 {
    color: white;
 }

.btnInfo {
    background-color: rgb(201, 30, 30);
    color: white;
    border-radius: 5px;
    padding: 10px;
}