.titleMentions {
    padding: 20px;
}

.titleMentions h1 {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.accordion {
    width: 70%;
}

.mentionContainer {
    margin-bottom: 50px;
    margin-top: 50px;
}

@media screen and (max-width:800px) {
    .accordion {
        width: 90%;
    }
}