* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner img {
    width: 100%;
}

.servicesTitle {
    text-align: center;
    padding: 20px;
}

.servicesTitle h1 {
    font-weight: bold;
}


.cards {
    width: 80%;
    font-size: 0.8rem;
    gap: 20px;
    padding: 30px;
    text-align: center;
}

.servicesTitle hr {
    width: 40%;
}

.cards h3 {
    font-size: 1rem;
    font-weight: bold;
}
.card {
    padding: 20px;
    width: 100%;
    transition: box-shadow 0.2 ease;
}

.card:hover {
    background-color: #efefef;
    box-shadow: 0 4px 12px black;
}

@media screen and (max-width: 800px) {
    .cards {
        width: 100%;
        font-size: 1rem;
    }
}
