#navbarNav {
  justify-content: end;
  text-transform: uppercase;
}

.navbar .nav-link:hover {
  text-decoration: underline;
}
.navbar-brand {
  text-transform: uppercase;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;

}